<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Owner</title>
<link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <h1 style="background-color: lightgreen;
  color: green;
  border:darkgreen;
  height: 100px;
  text-align: center;
  padding: 20px;">Car Rental System</h1>


  <nav>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="display:flex; list-style-type:none;">
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin}">Home</a></li>
        
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/viewcars}">View Car</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/issuecars/new}">Issue Car</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/viewissuedcars}">View Issued Car</a></li>
       
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href = "@{/admin/owners/new}" > Add Owner</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/owners}">View Owners</a></li>
        
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/logout}">Logout</a></li>
       </ul>

    </div><!-- /.navbar-collapse -->
</nav>
<br><br>

<div class="container" style="background-color:#FF9966; height:500px; width:500px;  padding:20px; font-size:20px;">
<h2>Add Owner</h2>
  <form th:action="@{/admin/owners}" th:object = "${owner}" method="POST" style="width:300px">
  
  	<div class ="form-group">
		<label for="name1">Name</label>
		<input
			type = "text"
			name="name"
			th:field = "*{name}"
			class = "form-control"
			placeholder="Enter Owner Name"/>
	</div>
  
  	<div class="form-group">
    	<label for="email1">Email address</label>
    	<input 
    		type="email" 
    		name="email"
    		th:field= "*{email}"
    		class="form-control"
    		placeholder="Enter Owner Email"/>
  	</div>
  	
  	<div class="form-group">
    	<label for="password1">Password</label>
    	<input 
    		type="password" 
    		name="password"
    		th:field="*{password}"
    		class="form-control"
    		placeholder="Enter Password" />
  	</div> 
   
  	<div class="form-group">
    	<label for="mobile1">Mobile Number</label>
    	<input 
    		type="text" 
    		name="mobile" 
    		th:field="*{mobile}"
    		class="form-control" 
    		placeholder="Enter Mobile Number" />
  	</div>
  	
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <footer>
    <div style="background-color: black; color: whitesmoke; height: 50px; text-align:center; margin: 20px;">
        <p style="margin-top:500px; font-size:13px; color:#aaa; margin-bottom:0; padding:20px">CarRentalSystemUsingSpringBoot Copyright@2021</p>
    </div>
</footer> 
</body>
</html>