<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Owner</title>
<link rel="stylesheet" href="bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <h1 style="background-color: lightgreen;
  color: green;
  border:darkgreen;
  height: 100px;
  text-align: center;
  padding: 20px;">Car Rental System</h1>


  <nav>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="display:flex; list-style-type:none;">
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/owner}">Home</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href = "@{/cars/new}">Add Car</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/cars}">View Car</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/ownerlogout}">Logout</a></li>
       </ul>

    </div><!-- /.navbar-collapse -->
</nav>
<br><br>


<div class="container" style="background-color:#FF9966; height:500px; width:500px;  padding:20px; font-size:20px;">
<h2>Add Car</h2>
  <form th:action="@{/cars}" th:object = "${car}" method="POST" style="width:300px">
  
  	<div class ="form-group">
		<label for="carId">Car Id</label>
		<input
			type = "number"
			name="carid"
			th:field = "*{carid}"
			class = "form-control"
			placeholder="Enter Car Id"/>
	</div>
  
  	<div class="form-group">
    	<label for="carregistartionno">Car Registration Number </label>
    	<input 
    		type="text" 
    		name="carregistrationno"
    		th:field= "*{carregistrationno}"
    		class="form-control"
    		placeholder="Enter Car Registration Number"/>
  	</div>
  	
  	<div class="form-group">
    	<label for="carname">Car Name</label>
    	<input 
    		type="text" 
    		name="carname"
    		th:field="*{carname}"
    		class="form-control"
    		placeholder="Enter Car Name" />
  	</div> 
   
  	<div class="form-group">
    	<label for="costpermile">Cost Per Hour</label>
    	<input 
    		type="number" 
    		name="costpermile" 
    		th:field="*{costpermile}"
    		class="form-control" 
    		placeholder="Enter Cost Per Hour" />
  	</div>
  	
  	<div>
  		<label for="quantity1">Quantity</label>
  		<input 
    		type="number" 
    		name="quantity" 
    		th:field="*{quantity}"
    		class="form-control" 
    		placeholder="Enter Quantity" />
  	</div>
  	
  <button type="submit" class="btn btn-primary">ADD CAR</button>
</form>
</div>


  <footer>
    <div style="background-color: black; color: whitesmoke; height: 50px; text-align:center; margin: 20px;">
        <p style="margin-top:500px; font-size:13px; color:#aaa; margin-bottom:0; padding:20px">CarRentalSystemUsingSpringBoot Copyright@2021</p>
    </div>
</footer> 
</body>
</html>