<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Owner</title>
<link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <h1 style="background-color: lightgreen;
  color: green;
  border:darkgreen;
  height: 100px;
  text-align: center;
  padding: 20px;">Car Rental System</h1>


<nav>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="display:flex; list-style-type:none;">
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin}">Home</a></li>
        
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/viewcars}">View Car</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/issuecars/new}">Issue Car</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/viewissuedcars}">View Issued Car</a></li>
       
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href = "@{/admin/owners/new}" > Add Owner</a></li>
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/admin/owners}">View Owners</a></li>
        
        <li><a style="color: lightgreen; background-color:darkgreen; padding: 20px; text-decoration:none;" th:href="@{/logout}">Logout</a></li>
       </ul>

    </div><!-- /.navbar-collapse -->
</nav>
<br><br>

<div class ="container">
		<div class = "row">
			<h1> List Owners </h1>
		</div>
		<table class="table table-striped">
			<thead style='background-color:black; color:white;'>
				<tr>
					<th> Id</th>
					<th> Name</th>
					<th> Email </th>
					<th> Password </th>
					<th> Mobile </th>
					<th> Edit </th>
					<th> Delete </th>
				</tr>
			</thead>

			<tbody>
				<tr th:each = "owner: ${owners}">
					<td th:text = "${owner.id}"></td>
					<td th:text = "${owner.name}"></td>
					<td th:text = "${owner.mobile}"></td>
					<td th:text = "${owner.email}"></td>
					<td th:text = "${owner.password}"></td>
					<td>
						<a th:href = "@{/admin/owners/edit/{id}(id=${owner.id})}"
						 class = "btn btn-primary">Edit</a>
					</td>
					<td>	
						<a th:href = "@{/admin/owners/{id}(id=${owner.id})}"
						 class = "btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>


  <footer>
    <div style="background-color: black; color: whitesmoke; height: 50px; text-align:center; margin: 20px;">
        <p style="margin-top:500px; font-size:13px; color:#aaa; margin-bottom:0; padding:20px">CarRentalSystemUsingSpringBoot Copyright@2021</p>
    </div>
</footer> 
</body>
</html>